<!DOCTYPE html>
<html>
  <head>
    <title>ChairsDb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Exciting chairs I know</h1>

    <nav>
      <a href="/chairs">Show all chairs</a>||

      <a href="/chairs/new"">Create new chair</a>

    </nav>

    <%= yield %>
  </body>
</html>
