<h2>Student: <%= @student.name %></h2>

<nav>
  <%= link_to 'Edit this student', edit_student_path(@student.id) %>||
  <%= link_to 'Delete this student', student_path(@student.id), method: 'delete'%>

</nav>

<p>
  Location: <%= @student.location %><br>
  Hobbies: <%= @student.hobbies %><br>

  <%= image_tag @student.image, alt:@student.name , :class=>"image"%>

</p>
