<!DOCTYPE html>
<html>
  <head>
    <title>GamesOnRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Games-On-Rails, People!</h1>
    <nav>
      <a href="/eight_ball">Dumb Eight Ball</a> ||
      <a href="/secret_number">Secret Number</a> ||
      <a href="/spr">Scissors-Paper-Rock</a>
    </nav>
    <%= yield %>
  </body>
</html>
