<!DOCTYPE html>
<html>
  <head>
    <title>Medicines</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Medicines</h1>
    <a href="<%= medicines_path %>">INDEX</a>
    <a href="<%= medicine_new_path %>">ADD</a>
    <%= yield %>
  </body>
</html>
