<!DOCTYPE html>
<html>
  <head>
    <title>TeacherApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= link_to 'Teachers Index', teachers_path %> |
    <%= link_to 'Create Teachers', new_teacher_path %> |
    <%= link_to 'Teachers Languages', languages_path %> |


    <%= yield %>
  </body>
</html>
