<% checked = "checked"
   not_checked = ""
   if @band['still_active'] == 0
     checked = ""
     not_checked = "checked"
   end
  %>
<form action="/rock_bands/<%= @band['id'] %>" method="post">
  <fieldset>
    <legend>Edit band details</legend>
    <div class="form-group">
      <label for="name">Band Name:</label>
      <input id="name" name="name" type="text" class="form-control" value="<%= @band['name'] %>" placeholder="E.g. The Beatles">
    </div>
    <div class="form-group">
      <label for="genre">Genre:</label>
      <input id="genre" name="genre" type="text" class="form-control" value="<%= @band['genre'] %>" placeholder="E.g. Rock 'n' Roll">
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea class="form-control" id="description" name="description" rows="3" placeholder="E.g. Formed in Liverpool in 1960"><%= @band['description'] %></textarea>
    </div>
    <div class="form-group">
      <label for="notable_songs">Notable Songs:</label>
      <input id="notable_songs" name="notable_songs" type="text" class="form-control" value="<%= @band['notable_songs'] %>" placeholder="E.g. Hey Jude, Paperback writer">
    </div>
    <fieldset class="form-group">
      <legend>Band status:</legend>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="still_active" id="optionsRadios1" value="1" <%= checked %>>
          Active
        </label>
      </div>
      <div class="form-check">
      <label class="form-check-label">
          <input type="radio" class="form-check-input" name="still_active" id="optionsRadios2" value="0" <%= not_checked %>>
          Inactive
        </label>
      </div>
    </fieldset>
    <div class="form-group">
      <label for="image_url">Image URL:</label>
      <input id="image_url" name="image_url" type="text" class="form-control" value="<%= @band['image_url'] %>" placeholder="E.g. http://ultimateclassicrock.com/files/2014/10/Beatles-.jpg?w=980&q=75">
    </div>
    <div class="form-group">
      <label for="website_url">Official website:</label>
      <input id="website_url" name="website_url" type="text" class="form-control" value="<%= @band['website_url'] %>" placeholder="E.g. www.thebeatles.com">
    </div>
    </fieldset>
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>
