<!DOCTYPE html>
<html>
  <head>
    <title>Future Classes of WDI</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h1>WDI classes coming soon......</h1>

    <nav>
      <% if @current_user.present? %>
        Welcome, <%= @current_user.name %>
        <%= link_to 'Logout', login_path, method: 'delete' %>

      <% else %>
        <%= link_to 'Login', login_path %>
        <%= link_to 'Sign up', new_user_path %>

      <% end %>

    </nav>

    <nav>
      <%= link_to 'See all Classes', futures_path %> ||
      <%= link_to 'Create a new Class', new_future_path %>
      <hr>
      <%= link_to 'See all students', students_path %> ||
      <%= link_to 'Create a student', new_student_path%>

    </nav>
    <%= yield %>
  </body>
</html>
