<!-- <h2><%= @language.title %>, <%= @language.name %></h2>
<strong><%= link_to @language.name, teacher_path(@language.teacher.id)%> </strong>



<p>Medium: <%= @work.medium %></p>
<p>style: <%= @work.style %></p>


<%= image_tag @work.image, alt: @work.title, class: 'workImage' %>
<br>
<%= link_to 'edit this work', edit_work_path(@work) %>
<%= link_to 'Delete this work', edit_work_path(@work), method: 'delete' %> -->
