<!DOCTYPE html>
<html>
  <head>
    <title>GamesOnRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <hr>
    <h2>Isn't it fun to play games!</h2>
    <hr>
    <nav>
      <p> <a href="/games">Home</a>  | <a href="/games/eightball">Magic 8 Ball</a> | <a href="/games/secretnumber">Secret Number</a> | <a href="/games/rockpaperscissors">Rock, Paper Scissors</a></p>
    </nav>
    <%= yield %>
  </body>
</html>
