<h2>Edit ocean</h2>

<form action="/oceans/<%= @ocean['id'] %>" method="post">

  Name:<input type="text" name="name" value="<%= @ocean['name'] %>"><br><br>
  Volume:<input type="text" name="volume" value="<%= @ocean['volume'] %>">,000,000 km&sup3;<br><br>
  Area:<input type="text" name="area" value="<%= @ocean['area'] %>">,000,000 km&sup2;<br><br>
  Colour:<input type="text" name="colour" value="<%= @ocean['colour'] %>"><br><br>
  Wetness:<input type="text" name="wetness" value="<%= @ocean['wetness'] %>">iwf<br><br>
<input type="Submit" name="" value="Edit ocean">

</form>
