<h2><%= @ocean['name'] %> Ocean</h2>


<a href="/oceans/<%= @ocean['id'] %>/edit">Update entry</a> |
<a href="/oceans/<%= @ocean['id'] %>/delete">Delete entry</a>

<p>Volume: <%= @ocean["volume"] %>,000,000 km&sup3;</p>
<p>Area: <%= @ocean["area"] %>,000,000 km&sup2;</p>
<p>Colour: <%= @ocean["colour"] %></p>
<p>Wetness: <%= @ocean["wetness"] %> iwf</p>
