<h2>Editing: <%= @moon['name'] %></h2>
<form action="/moons/<%= @moon['id'] %>" method="post">
  <input type="text" name="name" value="<%= @moon['name'] %>"> - Name <br />
  <input type="text" name="period" value="<%= @moon['period'] %>"> - Orbital Period <br />
  <input type="text" name="discoverer" value="<%= @moon['discoverer'] %>"> - Discoverer <br />
  <input type="text" name="discovery_year" value="<%= @moon['discovery_year'] %>"> - Discovery Year <br />
  <input type="text" name="img_url" value="<%= @moon['img_url'] %>"> - Image Url <br />
  <input type="text" name="planet_id" value="<%= @moon['planet_id'] %>"> - Planet ID <br />
  <input type="submit" value="Submit Moon Edit">
</form>
