<h2>Edit City:<%= @city.name %></h2>

<form action="/cities/<%= @city.id %>" method="post">
  Name: <input type="text" name="name" value="<%= @city.name %>"><br>
  Country: <input type="text" name="contry" value="<%= @city.country %>"><br>
  Image URL: <input type="text" name="image_url" value="<%= @city.image_url %>"><br>
  <br>
  <input type="submit" value="Update City">
</form>
