<h2>Edit New Car</h2>

<form action= "<%=planet_path(@planet.id) %>" method="post">
  Name: <input type="text" name="name" value="<%= @planet.name   %>"><br/>
image URL: <input type="text" name="image" value="<%= @planet.image   %>"><br/>
Orbit: <input type="text" name="orbit"value="<%= @planet.orbit   %>"><br/>
  Diameter: <input type="text" name="diameter" value="<%= @planet.name   %>"><br/>
  Mass: <input type="text" name="mass" value="<%= @planet.mass   %>"><br/>
  Temperature <input type="text" name="temperature" value="<%= @planet.temperature   %>"><br/>
Moons: <input type="text" name="moons" value="<%= @planet.moons   %>"><br/>

<input type="submit" value="Update">
</form>
