<h2>Planet <%= @planet.name %> </h2>

<a href="<%= car_destroy_path(@planet.id) %>"> destroy this planet </a>
<!--  -->
<!-- <%= link_to'destroy this planet', planet_destroy_path(@planet.id) %> -->

<%= link_to 'Edit this planet', planet_edit_path(@planet.id) %>


<%= link_to 'Create New Planet', cars_new_path(@planet.id) %>

<p> <strong>Orbit:</strong> <%=  @planet.orbit %></p>
<p> <strong>Diameter:</strong> <%=  @planet.diameter %></p>
<p> <strong>Mass:</strong> <%=  @planet.mass %></p>
<p> <strong>Temperature:</strong> <%=  @planet.temperature %></p>
<p> <strong>Moons:</strong> <%=  @planet.moons %></p>

<% if @planet.image.present? %>
<!-- <img src="<%= @planet.image %>" alt="<%= @planet.name %>"> -->
<%= image_tag @planet.image, alt: @planet.name, class: 'planet' %>

<% end %>
