<!DOCTYPE html>
<html>
  <head>
    <title>BooksDb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Book Club</h1>
    <nav>
      <% if @current_user.present? %>
      Welcome, <%= @current_user.name %>
      |
      <%= link_to'Logout',login_path, method: 'delete'%>
      |
      <% else %>
      <%= link_to 'Login', login_path %>
      |
      <%= link_to 'Sign up', new_user_path %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
