<h2>Edit Athlete: <%= @athlete.full_name %></h2>

<form action="/athletes/<%= @athlete.id %>" method="post">
  Full Name:        <input type="text" name="full_name" value="<%= @athlete.full_name %>"> <br>
  Age:              <input type="text" name="age" value="<%= @athlete.age %>"><br>
  Club:             <input type="text" name="club" value="<%= @athlete.club %>"><br>
  Country:          <input type="text" name="country" value="<%= @athlete.country %>"><br>
  Sponsored Brand:  <input type="text" name="sponsored_brand" value="<%= @athlete.sponsored_brand %>"><br>
  Club Image URL:   <input type="text" name="club_image" value="<%= @athlete.club_image %>"><br>
  Nations Flag URL: <input type="text" name="country_image" value="<%= @athlete.country_image %>"><br>
  Athlete URL:      <input type="text" name="self_image" value="<%= @athlete.self_image %>"><br>
  <br>
  <input type="submit" value="Edit Athlete">
</form>
